body 
{
    margin-top : 0px;
    background-color : #7ADEFF;
}

#banner{
    float :left;
    margin : 10px;
}

#botonesBanner 
{
    float : right;
    margin : 5px;
}

.bannerButton 
{
    margin : 5px;
    width : 125px;
    height : 30px;
    text-align : center;
}

#header 
{
    width : 1000px;
    margin : 0 auto;
    border-width : 2px;
    border-style :solid;
    border-color : Black;
    background-color : White;
    overflow : auto;
}

#cuerpo 
{
    width : 1000px;
    margin : 0 auto;
    overflow : auto;
    background-color : White;
}

#barraIzquierda 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#centro 
{
    float : left;
    width : 690px;
    margin : 5px;
}

#barraDerecha 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#contenedor-buscador
{
    border-radius : 5px;
}

.search-button 
{
    border-radius : 10px;
}

.bannerButton 
{
    border-radius : 10px;
}

.librosRecomendados
{
    width : 690px;
    height : 100%;
    overflow : auto;
    margin-top : 5px;
}

.libro-recomendado 
{
    width : 340px;
    height : 195px;
    margin : 1px;
    float : left;
    border-width : 1px;
    border-style :solid;
    border-color : Black;
    overflow : auto;
}

.thumbnail 
{
    width : 70px;
    height : 104px;
    margin : 5px;
    float : left;
}

.header-label 
{
    position : relative;
    padding : 10px;
    top : 5px;
}

.info-libro 
{
    float : left;
    margin : 5px;
    width: 230px;
    height: 104px;
    overflow : auto;
    font-size : 11px;
}

.desc-libro
{
    float : left;
    margin : 5px;
    padding : 0px;
    width : 328px;
    height: 68px;
    overflow: auto;
    font-family : Times New Roman Sans-Serif Serif Arial;
    font-size : 13px;
    border-style : dotted;
    border-width : 1px;
}

#campos-login 
{
    width : 280px;
    padding-left : 20px;
    position : relative;
    margin : auto;
    top : 10px;
}

#botones-login 
{
    width : auto;
    padding : auto;
}

.login-button 
{
    border-radius : 10px;
}

#campos-registro
{
    margin : 10px auto 0px auto;
}

#terminos-condiciones 
{
    padding : auto;
    width : 500px;
    overflow : auto;
    font-family : @Times New Roman Serif Sans-Serif;
    font-size : 14px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    
}

#btn-registro-registro 
{
    margin : 10px auto auto 0px;
}

.sitemap
{
    margin : 0 0 0 10px;
}

#fichaProducto
{
    border-style :solid;
    border-width :1px;
    border-color : Black;
    border-radius : 10px;
}

#contenidoVistaLibro 
{
    overflow : auto;
    width : 690px;
    height : 100%;
    margin : 0 auto 0 auto;
    padding : 5px;
    border-style : dotted;
    border-width : thin;
    border-radius : 10px;
}

.thumbnailVistaLibro 
{
    width: 70px;
    height : 104px;
    float : left;
    margin : 10px;
}

.infoVistaLibro
{
    width : 500px;
    float : left;
    margin : 10px 0 0 5px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    font-size : 13px;
}

.btnVistaLibro 
{
    float : left;
    margin : 10px 0px 0px 2px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    border-radius : 20px;
}

.descVistaLibro 
{
    width : auto;
    float : left;
    margin : 0 10px 5px 10px;
    overflow : auto;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    font-size : 14px;
}

#contenedorPerfil
{
    overflow : auto;
    width : 690px;
    border-radius : 20px;
}

.txtInfoPerfil 
{
    width : 220px;
    padding : 10px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
}

.btnModificarPerfil
{
    float : left;
    border-radius : 20px;
}

.contenedorLibroEncontrado
{
    padding : 10px;
    width : 600px;
    margin :10px auto 0px auto;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    border-radius : 10px;
    overflow : auto;
}

.thumbnailLibroEncontrado
{
    width : 70px;
    height : 140px;
    float : left;
    margin : 5px;
}

.infoLibroEncontrado 
{
    width : 500px;
    height : 130px;
    float : left;
    margin : 5px auto 0px 5px;
    padding : 10px 0px 0px 10px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    border-radius : 10px;
    font-family : Times New Roman Serif Sans-Serif Arial;
    font-size : 13px;
}

.descLibroEncontrado
{
    width : 590px;
    float : left;
    padding : 5px;
    border-style :solid;
    border-width :1px;
    border-color : Black;
    border-radius : 10px;
    font-family : Times New Roman Serif Sans-Serif Arial;
    font-size : 13px;
}



