body 
{
    margin-top : 0px;
    background-color : #7ADEFF;
}

#banner{
    float :left;
    margin : 10px;
}

#botonesBanner 
{
    float : right;
    margin : 5px;
}

.bannerButton 
{
    margin : 5px;
    width : 125px;
    height : 30px;
    text-align : center;
}

#header 
{
    width : 1000px;
    margin : 0 auto;
    border-width : 2px;
    border-style :solid;
    border-color : Black;
    background-color : White;
    overflow : auto;
}

#cuerpo 
{
    width : 1000px;
    margin : 0 auto;
    overflow : auto;
    background-color : White;
}

#barraIzquierda 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#centro 
{
    float : left;
    width : 690px;
    margin : 5px;
}

#barraDerecha 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#contenedor-buscador
{
    border-radius : 5px;
}




