body 
{
    margin-top : 0px;
    background-color : #7ADEFF;
}

#banner{
    float :left;
    margin : 10px;
}

#botonesBanner 
{
    float : right;
    margin : 5px;
}

.bannerButton 
{
    margin : 5px;
    width : 125px;
    height : 30px;
    text-align : center;
}

#header 
{
    width : 1000px;
    margin : 0 auto;
    border-width : 2px;
    border-style :solid;
    border-color : Black;
    background-color : White;
    overflow : auto;
}

#cuerpo 
{
    width : 1000px;
    margin : 0 auto;
    overflow : auto;
    background-color : White;
}

#barraIzquierda 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#centro 
{
    float : left;
    width : 690px;
    margin : 5px;
}

#barraDerecha 
{
    float : left;
    width : 140px;
    margin : 5px;
}

#contenedor-buscador
{
    border-radius : 5px;
}

.search-button 
{
    border-radius : 10px;
}

.bannerButton 
{
    border-radius : 10px;
}

#librosRecomendados
{
    width : 690px;
    height : 100%;
    overflow : auto;
    margin-top : 5px;
}

.libro-recomendado 
{
    width : 340px;
    height : 195px;
    margin : 1px;
    float : left;
    border-width : 1px;
    border-style :solid;
    border-color : Black;
    overflow : auto;
}

.thumbnail 
{
    width : 70px;
    height : 104px;
    margin : 5px;
    float : left;
}

.header-label 
{
    position : relative;
    padding : 10px;
    top : 5px;
}

.info-libro 
{
    float : left;
    margin : 5px;
    width: 230px;
    height: 104px;
    overflow : auto;
    font-size : 11px;
}

.desc-libro
{
    float : left;
    margin : 5px;
    width : 328px;
    height: 68px;
    overflow: auto;
}



